version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: videotube-redis
    ports:
      - "6379:6379"
    networks:
      - videotube-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  app:
    image: sarthakregistry.azurecr.io/videotube:1.0.3
    container_name: videotube
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - videotube-network
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

networks:
  videotube-network:
    driver: bridge
